################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NFMFix/.vs
/NFMFix/bin
/NFMFix/obj
*.user
